@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    /* Main colors */
    --color-black: 0 0 0;
    --color-white: 255 255 255;

    /* Background colors */
    --color-background-light: var(--color-white);
    --color-background-dark: var(--color-black);
  }

  html,
  body {
    height: 100%;
    width: 100%;
    min-height: 100%;
    min-width: 100%;
  }

  /* Default colors */
  body {
    @apply bg-light dark:bg-dark text-black-800 dark:text-white-800;
  }

  /* Use text-sm by default */
  body * {
    @apply text-sm;
  }

  /* Input & Select */
  input[type='date'],
  select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
  }
}
